@import "tailwindcss";

@theme {
  --color-brand-black: #211F1E;
  --color-brand-green: #32694E;
  --color-brand-red: #D02752;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
